@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

label {
    font-size: .7rem;
}

input.form-control, input.form-control:focus {
    background: #fffafb;
}

.error {
    position: absolute;
    color: red;
    font-size: .6rem;
}

.center{
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    z-index: 4;

}

.indent {
    display: flex;
    padding: 0 30px;
    
    /*justify-content: space-between;*/
}